.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s, opacity .3s ease;
}

@media screen and (max-width: 563px) {
  .popup {
    align-items: flex-start;
  }
}
