.popup__error {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  opacity: 0;
  color: red;
  box-sizing: border-box;
  height: 10px;
  min-height: 20px;
  display: inline-block;
}
