.profile__heading {
  max-width: 294px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: white;
  margin: 22px 0 0 0;
  padding: 0;
  grid-area: heading;
}

@media screen and (max-width: 618px) {
  .profile__heading {
    font-size: 27px;
    line-height: 33px;
    max-width: 282px;
  }
}
