.profile {
  margin: 40px auto 0 auto;
  max-width: 880px;
  display: grid;
  grid-template-columns: 120px 360px 150px;
}

@media screen and (max-width: 903px) {
  .profile {
    margin: 42px auto 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 903px) {
  .profile {
    margin-right: 19px;
    margin-left: 19px;
  }
}
