.profile__avatar {
  position: relative;
  margin: 0;
  margin: 0;
  grid-column: 1 / 2;
  width: 120px;
  height: 120px;
}

@media screen and (max-width: 903px) {
  .profile__avatar {
    margin: 0 auto;
  }
}
