.element__trash {
  background-image: url("../../../images/Trash.svg");
  border: none;
  background-position: center;
  background-color: transparent;
  background-size: 100% 100%;
  width: 18px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.element__trash:hover {
  opacity: .6;
}
