@import url("../vendor/normilize.css");
@import url("../vendor/fonts/fonts.css");
@import url("../blocks/page/page.css");
@import url("../blocks/header/header.css");
@import url("../blocks/header/__logo/header__logo.css");
@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__image/profile__image.css");
@import url("../blocks/profile/__info/profile__info.css");
@import url("../blocks/profile/__heading/profile__heading.css");
@import url("../blocks/profile/__subtitle/profile__subtitle.css");
@import url("../blocks/profile/__edit/profile__edit-button.css");
@import url("../blocks/profile/__add/profile__add-button.css");
@import url("../blocks/elements/elements.css");
@import url("../blocks/element/element.css");
@import url("../blocks/element/__item/element__item.css");
@import url("../blocks/element/__image/element__image.css");
@import url("../blocks/element/__info/element__info.css");
@import url("../blocks/element/__heading/element__heading.css");
@import url("../blocks/element/__button/element__button.css");
@import url("../blocks/element/__button/_color/element__button_color_black.css");
@import url("../blocks/element/__trash/element__trash.css");
@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__heading/footer__heading.css");
@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_opened/popup_opened.css");
@import url("../blocks/popup/__container/popup__container.css");
@import url("../blocks/popup/__title/popup__title.css");
@import url("../blocks/popup/__buttons/popup__buttons.css");
@import url("../blocks/popup/__input/popup__input.css");
@import url("../blocks/popup/__save/popup__save.css");
@import url("../blocks/popup/__close/popup__close.css");
@import url("../blocks/popup/__create/popup__create.css");

