.element__info {
  max-width: 246px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}


@media screen and (max-width: 400px) {
  .element__info {
    margin: 22px auto;
  }
}
