.element {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 17px 20px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 903px) {
  .element {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 19px;
  }
}

@media screen and (max-width: 618px) {
  .element {
    grid-template-columns:  1fr;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 0;
  }
}
