.profile__pencil {
  width: 120px;
  height: 120px;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background-color: transparent;
  position: relative;
}

.profile__pencil:hover:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background-image: url("../../../images/pencil.svg");
  width: 100%;
  height: 100%;
  background-size: 26px;
  background-color: rgba(0, 0, 0, 0.80);
  background-position: center;
  background-repeat: no-repeat;
  display: block;
}

@media screen and (max-width: 903px) {
  .profile__pencil {
    margin: 0 auto;
  }
}
